.location-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 180, 180);
  border-radius: 2px;
  width: 30%;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(187, 180, 180);
  border-radius: 2px;
  margin-right: 0.5rem;
  width: 40%;
}
.input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 15px;
}
.input-container {
  display: flex;
  flex-direction: row;
  margin: 4% 5%;
}
@media screen and (max-width: 700px) {
  .input-container {
    display: flex;
    flex-direction: column;
  }
  .search-container {
    width: 80%;

    margin-top: 0.5rem;
  }
}
